/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
/* fontawesome */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/* create variables */
:root {
    --bg: #1e1e1e;
    --bg-l: #252525;
    --bg-vl: #2b2b2b;
    --acc: #3c3c3c;
    --acc-l: #454545;
    --acc-vl: #808080;
    --acc-vl-rgb: 127, 127, 127;
    --text: #dddddd;
    
    --red: rgb(237, 66, 69);
    --red-rgb: 237, 66, 69;
    --green: rgb(59, 165, 93);
    --green-rgb: 59, 165, 93;
    --yellow: rgb(206, 196, 56);
    --yellow-rgb: 206, 196, 56;
}
/*  
!==============================================================
!        General
!==============================================================
*/
html {
    scroll-behavior: smooth;
    width: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: var(--bg);
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: var(--text);
}
main {
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}
/* normalize margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* states */
.hidden, [hidden] {
    opacity: 0%;
    display: none;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
code, .code {
    font-family: 'Fira Code', monospace;
    font-size: 13px;
}
.center {
    align-self: center;
}

/*  
!==============================================================
!        Global Styles
!==============================================================
*/
.generic-container {
    background: var(--bg-l);
    border-radius: 4px;
    border: 1px solid var(--acc-l);
    color: var(--text);
    outline: none;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}
.generic-container:hover,
.generic-container:focus {
    border-color: var(--acc-vl);
}
/*! inputs */
.input-general {
    padding: 0.25rem;
}
/*! buttons */
.button-general {
    cursor: pointer;
    padding: 0.3rem 0.45rem;
}
.button-general:active {
    background: var(--acc);
    border-color: var(--acc-vl);
}
/*! button sizes */
button.small {
    padding: 0 0.3rem;
    height: 22px;
}

/*! button colors */
/* green */
button.green:hover,
button.green:focus,
.button-green:hover,
.button-green:focus {
    border-color: var(--green);
    color: var(--green);
}
button.green.green:active,
.button-green.button-green:active {
    border-color: var(--green);
    color: var(--green);
    background-color: rgba(var(--green-rgb), 0.2);
}
/* red */
button.red:hover,
button.red:focus,
.button-red:hover,
.button-red:focus {
    border-color: var(--red);
    color: var(--red);
}
button.red.red:active {
    border-color: var(--red);
    color: var(--red);
    background-color: rgba(var(--red-rgb), 0.2);
}

/*  
!==============================================================
!        Uploads Section
!==============================================================
*/
section.uploads {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.uploads-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--acc-vl);
    padding: 1rem;
    padding-top: 0.4rem;
    border-radius: 6px;
}
/*! upload buttons */
.uploads .content {
    display: flex;
    margin-top: 1rem;
}
.uploads .content div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.uploads .content label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
}
.uploads .content label span {
    opacity: 40%;
    font-size: 80%;
}
.uploads .content input {
    cursor: pointer;
    width: 100%;
}
/*! options */
.uploads .supported-types {
    margin-top: 0.8rem;
    width: 100%;
}
.uploads .supported-types h4 {
    font-weight: 500;
    margin-bottom: 0.4rem;
}
.uploads .supported-types ul {
    margin-left: 1.3rem;
}
.uploads .supported-types li code {
    position: relative;
    left: -0.3rem;
}
/*! buttons */
.uploads .buttons {
    margin-top: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}
/*
!==============================================================
!        Keyboard shortcuts
!==============================================================
*/
section.shortcuts {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shortcuts > table td {
    width: 50%;
}
.shortcuts > table tr td:first-of-type {
    text-align: end;
}
kbd {
    background-color: var(--bg-l);
    border-radius: 3px;
    border: 1px solid var(--acc);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .2) inset;
    color: var(--text);
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    padding: 4px 4px 2px;
    white-space: nowrap;
    margin: 0 3px;
}
/*
!==============================================================
!        Main table
!==============================================================
*/
section.results {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}
.results-table {
    border-collapse: collapse;
    border: 2px solid var(--acc-l);
}
.results-table th {
    background: var(--bg-l);
    padding: 0.35rem 0.5rem;
}
.results-table .entry-row {
    height: max-content;
    border-top: 1px solid var(--acc);
}
/*! numbers */
.results-table .entry-num {
    /* display: flex; */
    padding: 0.5rem;
    text-align: center;
    /* justify-content: center; */
}
/*! "original" column */
.results-table .entry-original {
    padding: 0.2rem;
    min-width: 300px;
}
.results-table .entry-original span {
    display: block;
}
.results-table .entry-original code {
    font-size: x-small;
    color: #aaa;
    display: block;
    margin-top: 0.1rem;
}
/*! input column */
.results-table .entry-input {
    padding: 0.3rem 0.4rem 0.3rem 0;
}
.results-table .entry-input textarea {
    width: 100%;
    min-height: 48px;
    border: 1px solid var(--acc);
    border-radius: 4px;
    padding: 0.1rem 0.2rem;
    min-width: 500px;
    background: rgba(255,255,255,0.02);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    outline: none;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}
.results-table .entry-input textarea.filled,
.results-table .entry-input textarea.marked-filled {
    border-color: var(--green);
    background-color: rgba(var(--green-rgb), 0.04);
}
/*! button column */
.results-table .entry-buttons {
    padding: 0 0.4rem 0 0;
}
.results-table .entry-buttons .mark-as-filled {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green);
    cursor: pointer;
}
.results-table .entry-buttons .mark-as-filled.active {
    border-color: var(--green);
    background-color: rgba(var(--green-rgb), 0.2);
    color: var(--text);
}
.results-table .entry-buttons .mark-as-filled.active:active {
    background-color: rgba(var(--green-rgb), 0.4);
}
/*! gap row */
.results-table .gap-row {
    border-top: 1px solid var(--acc);
    height: 10px;
}
/*! comment row */
.results-table .comment-row {
    border-top: 1px solid var(--acc);
    font-size: small;
}
.results-table .comment-row th {
    padding: 0.25rem;
}
/*
!==============================================================
!        Toolbar
!==============================================================
*/
.toolbar {
    position: fixed;
    top: 10px;
    left: 10px;
    border: 1px solid var(--acc-vl);
    background: var(--bg-l);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}
.toolbar > hr {
    margin: 0.6rem 0;
    border: none;
    border-top: 1px solid var(--acc);
}
/*! goto */
.toolbar .goto input {
    width: 50px;
    height: 22px;
}
/*! stats */
.toolbar .stats {
    min-width: max-content;
    max-width: 150px;
}
.toolbar .stats table {
    width: 100%;
}
.toolbar .stats td.label {
    width: 70px;
}
.toolbar .stats td.data {
    display: flex;
    justify-content: space-between;
}
.toolbar .stats td.data span {
    margin-left: 0.3rem;
}
/*! download buttons */
.downloads {
    display: flex;
    position: relative;
    width: max-content;
}
.downloads > button {
    height: 24px;
}
.downloads #download-json {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 3;
}
.downloads #dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    left: -1px;
}
.downloads #dropdown-toggle:hover,
.downloads #dropdown-toggle:focus,
.downloads #dropdown-toggle:active {
    z-index: 4;
}
.downloads .dropdown-menu {
    display: none; /* changed later */
    flex-direction: column;
    position: absolute;
    top: 28px;
    right: 0;
    border: 1px solid var(--acc-vl);
    border-radius: 4px;
    background: var(--bg-l);
}
.downloads .dropdown-menu.active {
    display: flex;
}
.downloads .dropdown-menu > button {
    background: none;
    border: none;
    color: var(--text);
    padding: 0.3rem 0.5rem;
    margin: 0.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.downloads .dropdown-menu > button:hover,
.downloads .dropdown-menu > button:focus {
    background: rgba(255,255,255,0.05);
}
.downloads .dropdown-menu > button:active {
    background: rgba(255,255,255,0.15);
}