/*
======================
        Toasts
======================
*/
.Toaster.toast {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 400px;
    min-height: 1.5rem;
    padding: 6px;
    color: black;
    font-family: sans-serif;
    text-align: center;
    border-radius: 4px;
    border-left: 6px solid currentColor;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}
.Toaster.toast--visible {
    top: 20px;
    opacity: 1;
    visibility: visible;
}
.Toaster.toast--success {
    background: #DEF2D5;
    border-color: #596D50;
    color: #596D50;
}
.Toaster.toast--info {
    background: #CCE8F4;
    border-color: #4D7FA3;
    color: #4D7FA3;
}
.Toaster.toast--disallow,
.Toaster.toast--error {
    background: #EBC8C2;
    border-color: #AA3132;
    color: #AA3132;
}
.Toaster.toast--warn {
    background: #F8F3D6;
    border-color: #927947;
    color: #927947;
}
.Toaster .toast-icon {
    position: absolute;
    left: 0;
    margin-left: 1rem;
    color: currentColor;
}
.Toaster .toast-close {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    color: currentColor;
    opacity: 50%;
    cursor: pointer;
}